.centerblock {
    display: block ;
    margin-left: auto;
    margin-right: auto;
 }
 .card-style{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
 }
 .instr-button{
    color: #007bff;
    cursor: pointer;
 }
 .nextbutton{
    text-align: right ;
 }

